services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    networks:
      - app-net

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    networks:
      - app-net

networks:
  app-net:
    driver: bridge